header{
    border:2px solid gray;
    margin:10px
}

main{
    border:2px solid gray;
    margin:10px
}

footer{
    border:2px solid gray;
    margin:10px
}

section{
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
}

article{
    padding: 20px;
    margin: 20px 0;
    background-color: orange;
}